/* GLOBALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

:root {
    --bg-nav: #FFD36E;
    --bg-section: #FFF56D;
    --bg-container: #99FFCD;
    --bg-body: #eeffff;
    --letra-name: 'Sigmar One', cursive;
    --color-text: black;
    --color-img: #F3F6F4;
}

/* NAVEGACIÓN */

nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--bg-nav);
    z-index: 1;
}

.name , .inicio , .contacto {
    font-family: var(--letra-name);
    color: var(--color-text);
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.name:hover {
    color: #ff7a2d;
}
.inicio:hover {
    color: #ff7a2d;
    
}
.contacto:hover {
    color: #ff7a2d;
} 

.name {
    margin-left: 75px;
}
.inicio {
margin-left: 750px;
}
.contacto {
    margin-left: 26vh;
}

@media (max-width: 1280px){
    .name {
        margin-left: 75px;
    }
    .inicio {
    margin-left: 500px;
    }
    .contacto {
        margin-left: 25vh;
    }


}

a {
    text-decoration: none;
}

/* SECCIÓN */

body {
    background-color: var(--bg-body);
}

.container {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.box {
    height: 85vh;
    width: 90%;
    background-color: var(--bg-section);
    border-radius: 0px 0 10px 10px;
    -webkit-box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
    -moz-box-shadow: 0px 5px 12px 3px rgba(130,125,130,0.49);
    box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
}

/* CONTENEDORES */

.box-1 {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 90%;
    background-color: var(--bg-container);
    margin: 35px 65px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
    -moz-box-shadow: 0px 5px 12px 3px rgba(130,125,130,0.49);
    box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
    background-color: var(--bg-container);
}
.box-2 {
    height: 40%;
    width: 90%;
    background-color: var(--bg-container);
    margin: 50px 65px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
    -moz-box-shadow: 0px 5px 12px 3px rgba(130,125,130,0.49);
    box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
    background-color: var(--bg-container);
}

/* IMAGENES CONTENT 1 */

.box img {
    height: 170px;
    width: 170px;
    border-radius: 5px;
}

.box-1 h2 {
    text-align: center;
    font-family: var(--letra-name);
    text-transform: uppercase;
}

.box-2 h2 {
    text-align: center;
    font-family: var(--letra-name);
    text-transform: uppercase;
}

.img-div {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.box img:hover {
    border-radius: 5px;
    -webkit-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    transition: .6s;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-family: 'Scope One', serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

/* CONTACTO */

.container-1 {
    display: flex;
    justify-content: center;
    background-color: var(--bg-body);
    height: 100%;
    width: 100%;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-section);
    height: 40vh;
    width: 90%;
    margin-top: 180px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
    -moz-box-shadow: 0px 5px 12px 3px rgba(130,125,130,0.49);
    box-shadow: 0px 5px 12px 3px rgb(130 125 130 / 49%);
}

.redes-1 img {
    height: 200px;
    width: 200px;
}

.whats {
    background-color: #5ae040;
    border-radius: 10px;
    padding: 10px;
    border-radius: 5px;
}
.whats:hover {
    -webkit-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    transition: .6s;
}
.face {
    background-color: #3F60A5;
    border-radius: 10px;
    padding: 10px;
}
.face:hover {
    -webkit-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    transition: .6s;
}
.insta {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border-radius: 10px;
    padding: 10px;
}
.insta:hover {
    -webkit-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    box-shadow: -3px 2px 31px -6px rgba(0,0,0,0.76);
    transition: .6s;
}



@media (max-width: 835px){

nav {
    height: 60px;
    width: 100%;
}


.name {
    font-size: 25px;
    margin-left: 25px;
}

.contacto {
    font-size: 25px;
    margin-left: 30px;
}

.box img {
    height: 240px;
    width: 240px;
    margin: 0 0 25px 0;
    padding: 10px;
}
.inicio {
    display: none;
}
.img-div {
    flex-direction: column;
}
.box {
    flex-direction: column;
    height: auto;
    width: auto;
    padding: auto;
}
.box-1, .box-2 {
    height: auto;
    width: auto;
}

.redes {
    flex-direction: column;
    height: 90%;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.redes-1 {
    margin: 25px;
}
}